@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?f0bgf0');
  src:  url('icomoon.eot?f0bgf0#iefix') format('embedded-opentype'),
    url('icomoon.ttf?f0bgf0') format('truetype'),
    url('icomoon.woff?f0bgf0') format('woff'),
    url('icomoon.svg?f0bgf0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-forward:before {
  content: "\e154";
}
.icon-subdirectory_arrow_left:before {
  content: "\e5d9";
}
.icon-trash-can:before {
  content: "\e900";
}
.icon-document:before {
  content: "\e901";
}
.icon-inbox-document-text:before {
  content: "\e902";
}
.icon-folder-add:before {
  content: "\e905";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-user:before {
  content: "\e971";
}
.icon-blocked:before {
  content: "\ea0e";
}

